
.profile_container{
  width: 100%;
  /*display: flex;*/
}

.side_bar{
  position: fixed;
  top: 70px;
  bottom: 0px;
  left:0px;
  width: 25%;
  border-right: 1px solid #e0e0e0;
}

.main_panel{
  position: absolute;
  top: 70px;
  /*bottom: 0px;*/
  left:25%;
  width: 75%;
  padding: 50px;

}

.top_bar{
  display: inline-flex;
  position: fixed;
  top: 0px;
  height: 70px;
  left:25%;
  width: 75%;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fafafa
}

.picture_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  min-height: 200px;



}

.profile_thumbnail{
  margin-top:10px;
  width: 50px;
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid #e0e0e0
}

.info_container{
  padding: 20px;
}

.profile_tab{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e0e0e0
}

.sign_out_button{
  width: 15%;
  margin-left: 20px;
}

.partner_profile{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
  height: 70px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid black;
}



.member_container{
  text-align: center;
  height: auto;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  margin-top: 20px;
  padding: 20px;
  width: 95%;
  position: absolute;
  background-color: white
}

.member_container img{
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  width: 100%;
  max-width: 300px
}

.search.container{
  margin-bottom: 20px;
}

.no, .yes{
  border-radius: 50%
}