
html{
  min-height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.global {
  display: block;
  position: absolute;
  top:0px;
  bottom:0px;
  width: 100%;
  background-image: url("gym.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.navbar .navbar li{
  height: 70px;
}

.navbar-default{
  background-color: rgba(51,71,122, 1);
  border-bottom: 0px;
}

.navbar li > a {
  margin-top: 10px;
  border-radius: 3px;
  margin-left: 20px;
}

@media (max-width: 767px){

   .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: white
  }

  .profile_thumbnail{
    display: none;
  }

}

.navbar-default .navbar-nav>li>a{
  color: white;
}



.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: white;
}

.navbar-header{
  /*width: 25%;`*/
}

.navbar-toggle{
  margin-top: 18px;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}

.dropdown-header{
  color: white
}


h2{
  margin-top: 10px;
}


.user_container{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 30px;
  height:100%;
}

.login, .signup{
  position: fixed;
  right: 0px;
  top:70px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 20px;
  width: 25%;
  height: 300px;
  min-width: 300px;
  background-color: #fafafa;
  display: none;

}
.form-input{
  margin-bottom: 10px;
  width: 100%;

}



.slogan{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 10px black;
  font-weight: bold;
  letter-spacing: 2px;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;


}


.login_button{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  /*width: 500px;*/
  text-align: center;
}

.form-label{
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;

}

form {
  width: 100%
}

.navigation_container{
  height: 70px;
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0px;
  background-color: rgba(51,71,122, 0.6)
}

.nav_bar{
  max-width: 1200px;
  /*border: 1px solid white;*/
  margin: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  /*color: white;*/
}

.icon img{
  width: 60px;
}

.icon{
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px
}

.spotter{
  line-height: 70px;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 2em;
  display: inline-block;
  color: white;

}

.button {
  margin-left: 60px
}

.button_box{
  width: 50%;
  /*border: 1px solid white;*/
  text-align: right
}



.headline{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px 10px black;
  font-weight: bold;
  letter-spacing: 2px;
  margin: auto;
  width: 100%;
  text-align: center;

}

.search{
  height: 70px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  margin:auto;
  width: 40%;
  min-width: 530px;
  align-items: center;
  padding: 20px;
  border-radius: 4px
}




.search_input{
  width: 82%;
  display: inline-block;
  margin-right: 3%;

}

.search_button{
  width: 15%;
}

.search_box{
  display: block;
  margin: auto;
  width: 100%;
/*  margin-top: 300px;
margin-bottom: 300px;*/


}




.about .row {
  margin-top: 50px;
}



.about_panel{
  text-align: center;
  background-color: white;
  border-radius: 3px;
  /*border: 1px solid #e0e0e0;*/
  padding: 20px;
  color: white;
  background-color: rgba(51,71,122, 1);
}

.about .col-md-4{
  padding-left: 5%;
  padding-right: 5%;
  padding top: 20px;
  padding-bottom: 20px;
}

.search_flex{
  display: flex;
  height:100%;
}


.result{
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  display: flex;
  width: 100%;
  align-items: center;
}

.gym_name{
  width: 30%;
  padding-left: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;

}

.address{
  margin-left: 20px;

}

#map_container{
  display: flex;
  height: 100%;
  width: 40%;
  background-color: #e0e0e0;


}